<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
  </startup>
  <modules>
    <module assemblyFile="Tmdb.Search.dll" moduleType="Tmdb.Search.SearchModule, Tmdb.Search, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="SearchModule" startupLoaded="True" />
  </modules>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.396" newVersion="7.0.0.396" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8009/TmdbService"
                  binding="netTcpBinding"
                  contract="Tmdb.Contracts.ITmdbSearchService"/>
    </client>
    <bindings>
      <netTcpBinding>
        <binding sendTimeout="00:02:00"
                maxReceivedMessageSize="20000000"
                receiveTimeout="00:02:00"
                transactionFlow="true">
          <reliableSession inactivityTimeout="00:02:00"/>
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>